/* 
    Faithful93 : The only 93 theme you will ever need
    By turtle dude
    revision 1.0 (w96 v2)

    Design and assets are copyright Sys42 and the Windows93 team over at https://windows93.net. No infringement intended!

    --Notes
        Obviously, this theme isn't 100% accurate.
        For a 93 accurate explorer, set "showSidebar" to false in C:/system/config/explorer.json. The sidebar is themed if you want to leave it on though.
        
        Any 93 exclusive button or element was cut (e.g explorer home button)

    --Todo (no particular order, ? = uncertain)
        -Icon pack (v3)
        -Terminal skin (?) with custom motd (?)
        -Get assets hosted somewhere that isn't discord cdn
        -Goofy ah animatons (?)
        -93 accurate cursor events (?)
        -Boot Screen (????)

    --Changelog r1.0
        -Themed selection highlights
        -Tons of size and positioning adjustments
        -Organized CSS
        -Fixed maximized windows
        -Optional 96 styled start menu
        -Explorer sidebar
        -3 new messagebox icons
        -Other fun little snippets

    --Changelog r0.6
        -Fixed titlebar letter spacing
        -Fixed taskbar notification area
        -Rewrote "readme"

    --Changelog r0.5
        -Initial release
*/

/* windows 93 default wallpaper, delete to remove and use your own */
.user-desktop{
    background-image: linear-gradient(135deg,#f0f,#0ff) !important;}

/* General */
.window-dlg:not(.ui-sortable-helper){
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 3px;
    box-shadow: rgb(0 0 0) 1px 0px, rgb(0 0 0) 0px 1px, rgb(0 0 0) 1px 1px, rgb(255 255 255) 1px 1px inset, rgb(255 0 255 / 50%) 0px 0px 150px 1px;
    /*pink window glow--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--->--^^^ delete to remove */}
.window-dlg.maximized{
    margin-left: -4px;
    margin-top: -4px;}

.w96_sm_item:hover,
.w96_sm_item.selected,
.shell-icon.selected .icon-text,
.wcontext-menu>.item.wi:hover,
.wcontext-menu>.item.selected,
.wcontext-menu>.item:hover,
.wcontext-menu.mbar>.item:hover,
.w96-menubar>.root-item.selected,
.w96-menubar>.root-item:hover{
    background-color: #0090e4;}
::selection {
    color: black;
    background: #c3ff00;}

/* Titlebar */
.titlebar{
    font-family: 'nouveaux';
    font-size: 8px;
    padding: 2px;
    background: linear-gradient(to right,#f0f,#0ff);}
.titlebar-title-disabled{
    color: white;
    background: linear-gradient(to right,#700070,#007070);}
.titlebar-title{
    text-shadow: none;
    letter-spacing: 0px;
    line-height: 2em;
    top: 2px;
    left: 1px;}
.titlebar-icon,
.window-dlg.maximized>.titlebar-icon {
    top: 4px;
    left: 5px;}
.titlebar-closebutton,
.titlebar-maxbutton,
.titlebar-minbutton{
    height: 15px;
    width: 15px;
    margin-left: 2px;}
.titlebar-closebutton{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075305588621322/close.png);}
.titlebar-closebutton:active{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075305768960000/close-pressed.png);}
.titlebar-maxbutton{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075305991262260/max.png);}
.titlebar-maxbutton:active{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075306230341692/max-pressed.png);}
.titlebar-minbutton{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075306788167770/min.png);}
.titlebar-minbutton:active{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961075306997891102/min-pressed.png);}
.titlebar-maxxed {
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961756932631298119/max-maxxed.png)!important;}
.titlebar-maxxed:active{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961756932836823120/max-maxxed-pressed.png)!important}

/* Explorer */
.wexplorer-app>.nav-bar>.nav{
    font-family: 'nouveaux';
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    box-shadow: none;
    height: 21px;}
.wexplorer-app>.nav-bar>.up{
    background-repeat: no-repeat;
    background-image: url(https://cdn.discordapp.com/attachments/952324179334660156/961426182107168859/expup.png);}
.wexplorer-app>.nav-bar>.go {
    background-image: url(https://cdn.discordapp.com/attachments/952324179334660156/961426181901652008/expgo.png);
    background-repeat: no-repeat;
    width: 29px;
    background-position-y: 6px;
    background-position-x: 7px;}
.wexplorer-app>.nav-bar>.w96-button{
    box-shadow: 1px 0 grey, 0 1px grey, 1px 1px grey;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    cursor: url(../cursors/hand.cur) 6 0, auto !important;}

.exp-file-view{
    box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;}
.exp-file-view .icon-text{
    text-shadow: none !important;}

.wexplorer-app>.view-box>.sidebar{
    background-image: url(https://cdn.discordapp.com/attachments/952324179334660156/961779986728124416/sidebar.png);}
.wexplorer-app>.view-box>.sidebar>.file-box>.line{
        border-left: solid 66px #ff68d5;
        border-right: solid 66px #ff00ff;}

/* Misc Window Components */
.w96-menubar{
    max-height: 19px;}
.w96-menubar>.root-item{
    padding-top: unset;}

.wcontext-menu{
    box-shadow: inset -1px -1px 0px #808080;}

*:not(.prompt) > input[type="text"], *:not(.prompt) > input[type="number"], *:not(.prompt) > textarea{
    box-shadow: none !important;}

.shell-icon .icon-text{
    font-family: 'nouveaux';
    font-size: 8px;
    text-shadow: #0031a5 0 1px;
    line-height: 11px;
    border-width: 0px;
    padding-bottom: 0px;}
.shell-icon .icon-image{
    margin-bottom: 2px;}

.ui-icon, .ui-widget-content .ui-icon{
    background-image: none !important;}
    
    /* Taskbar */
.start_button{
    background-image: url(https://www.windows93.net/c/sys/skins/w93/16/start.png);
    height: 23px;
    margin-top: 3px;
    margin-right: 1px;
    width: 69px;
    background-position-x: 7px;
    background-position-y: 3px;}
.start_button::after{
    right: -10px;
    top: -1px;}

.user-taskbar{
    height: 30px;
    max-height: 30px;
    border-right: 1px solid gray!important;
    border-bottom: 1px solid gray!important;
    border-width: 1px;
    border-color:silver;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;}
.taskbar-task{
    height: calc(100% - 4px);
    margin-top: 2px;
    margin-right: 3px;
    max-width: 100px;}
.taskbar-task_active{
    background-image: none;}

.taskbar-notify{
    height: calc(100% - 7px);
    margin-top: 3px;}

/* 93 Accurate Compact Start Menu */
.start-menu{
    left: 3px;
    width: 162px;
    height: 187px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
}
.w96_sm_logo{
    background: none;
}
.w96_sm_logo .container{
    display: none;
}
.w96_sm_item{
    height: 20px;
    padding: 0px;
}
.w96_sm_item_text{
    top: 0px;
    left: 18px;
}
.w96_sm_item_image{
    height: 19px;
    width: 12px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
}
.w96_sm_item_container{
    top: -190px;
    left: 2px;
    width: 159px;

}
#item_programs::after{
    margin-top: 5px
}

/* 93 Styled Comfortable Start Menu (96 shape) */
/*.w96_sm_logo .container{
    background: linear-gradient(to top,#f0f,#0ff);}
.w96_sm_logo .container .text::after{
    content: 'Windows 93';
    color: #c3ff00;
    text-shadow: -2px -1px 1px #130b86;}*/

/* Icons */
.window-html-content>.mbox>.content>.icon.info {
    background-image: url(https://www.windows93.net/c/sys/skins/w93/info.png);}
.window-html-content>.mbox>.content>.icon.warning {
    background-image: url(https://www.windows93.net/c/files/images/icons/warning.png);}
.window-html-content>.mbox>.content>.icon.error {
    background-image: url(https://cdn.discordapp.com/attachments/952324179334660156/961787228974116915/marburg-error.png);}

/* Misc Snippets */
.aboutbox-logo{
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961775016624680990/aboutlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;}

.ctrl-app>.view>.p1{
    width: 150px;
    background: url(https://cdn.discordapp.com/attachments/952324179334660156/961775087638437898/wizard.png);
    background-position-y: bottom;
    background-color: cyan;
    background-repeat: no-repeat;
    color: #0a0a0a;}
    .ctrl-app>.view>.p1>.box>.title{
        padding: 0px;
        margin-left: 5px !important;
        text-shadow: none;
        letter-spacing: 0px;}